html
  font-size: 14px

body
  font-family: 'Roboto', sans-serif
  margin: 0

button:focus
  outline-width: 0

img
  display: block
  max-width: 100%
  height: auto

/*-----------------------header----------------------------*/
header
  background: url("../img/header.png") no-repeat center bottom
  height: 800px
  color: #FFFFFF

.gradient
  background: linear-gradient(to bottom, black, transparent)
  height: 368px

.container
  width: 50%

.logo
  font-weight: bold
  font-size: 1.71rem
  text-transform: uppercase

li
  padding-right: 30px

nav ul
  display: flex
  text-transform: capitalize
  padding: 30px 0
  font-size: 11px
  justify-content: space-between
  list-style: none

nav li a
  text-decoration: none
  color: #FFFFFF
  font-size: 1rem

nav li a:hover
  color: #BDBDBD

nav li a:active
  color: #3F3F3F

.entrance
  padding-top: 15rem

.quote
  font-size: 1.7rem
  font-weight: 100

.header-main-text
  font-size: 4.2rem
  font-family: 'Roboto', sans-serif
  font-weight: bold
  text-transform: uppercase
  line-height: 4.2rem

button
  cursor: pointer

/*---------------------------btn-learn-----------------------*/
.btn-learn
  position: relative
  width: 11.4rem
  height: 4rem
  background-color: #e92121
  border: none
  border-radius: 3px
  color: #FFFFFF
  font-size: 1.13rem
  font-weight: bold

.btn-learn span
  display: inline-block
  position: relative
  transition: 0.5s

.btn-learn span:after
  content: '\00bb'
  position: absolute
  opacity: 0
  top: 0
  right: -1.5rem
  transition: 0.5s

.btn-learn:hover span
  padding-right: 1rem

.btn-learn:hover span:after
  opacity: 1
  right: 0

.btn-learn:after
  content: ""
  background: white
  display: block
  position: absolute
  top: 50%
  left: 50%
  padding: 2rem 5.7rem
  margin: -2rem 0 0 -5.7rem
  border-radius: 3px
  opacity: 0
  transition: all 0.5s

.btn-learn:active:after
  padding: 0
  margin: 0
  opacity: 1
  transition: 0s

/*----------------------end of btn-learn------------------------*/

/*------------------------btn-choose----------------------------*/
.btn-choose
  position: relative
  margin-left: 1.8rem
  width: 15rem
  height: 4rem
  background-color: transparent
  border: 2px #FFFFFF solid
  border-radius: 3px
  color: #FFFFFF
  font-size: 1.13rem
  font-weight: bold
  overflow: hidden

.blur
  //background-color: lightgrey
  position: absolute
  opacity: 0.5
  //filter: blur(5px)
  top: 50%
  left: 50%
  padding: 2rem 7.5rem
  margin: -2rem 0 0 -7.5rem

.btn-choose span
  z-index: 999
  cursor: pointer
  display: inline-block
  position: relative
  transition: 0.5s

.btn-choose span:after
  content: '\00bb'
  position: absolute
  opacity: 0
  top: 0
  right: -1.5rem
  transition: 0.5s

.btn-choose:hover span
  padding-right: 1rem

.btn-choose:hover span:after
  opacity: 1
  right: 0

.btn-choose:after
  content: ""
  background: white
  display: block
  position: absolute
  top: 50%
  left: 50%
  padding: 2rem 7.5rem
  margin: -2rem 0 0 -7.5rem
  border-radius: 3px
  opacity: 0
  transition: all 0.5s

.btn-choose:active:after
  padding: 0
  margin: 0
  opacity: 1
  transition: 0s
/*------------------end of btn-choose-----------------------*/
/*--------------------end of header-------------------------*/


/*----------------our interesting history-------------------*/
.history
  padding-top: 4.5rem
  padding-bottom: 6.3rem
//text-align: justify

.history-title
  color: #464646
  text-transform: uppercase
  font-weight: 800
  font-size: 3.5rem

.history-text
  padding-top: 2rem
  color: #b7b7b7
  font-weight: 100
  font-size: 1.1rem
  line-height: 2.1rem
  padding-bottom: 0.8rem

/*--------------end of "our interesting history"-------------*/

hr
  border-width: 0.5px

/*---------------------how-does-it-work----------------------*/

.how-does-it-work
  padding-top: 4.5rem
  padding-bottom: 3rem

p.how
  margin-bottom: 1.65rem
  color: #464646
  font-weight: 800
  font-size: 2.2rem

.ask-question
  color: #b7b7b7
  font-weight: 100
  font-size: 1.2rem
  line-height: 2rem
  text-align: center
  padding-top: 0.5rem

.how-symbols-ask
  text-align: center
  padding-bottom: 3rem

.items
  padding-top: 5rem

.item-cell
  padding-bottom: 4rem

.what-to-do

  font-family: 'Roboto', sans-serif
  font-weight: 800
  font-size: 1.1rem
  color: #464646
  padding-top: 1rem
  padding-bottom: 1rem

.description
  color: #b7b7b7
  font-weight: 100
  font-size: 1.1rem
  padding-bottom: 2.2rem

/*-------------------end of how-does-it-work-----------------*/

/*----------------------the slider---------------------------*/
.slider
  background-color: #faf9f9
  padding: 7.14rem 0
  position: relative

.arrow-left, .arrow-right
  display: flex
  justify-content: center
  position: absolute
  margin: 1rem
  width: 6rem
  height: 6rem
  background-color: white
  color: black
  border: none

.arrow-right:hover, .arrow-left:hover
  background-color: lightgrey

.arrow-right:active, .arrow-left:active
  background-color: darkgrey

.arrow-left
  top: 50%

.arrow-right
  top: 50%
  right: 0%

.ring-name
  color: #464646
  font-weight: 900
  font-size: 2.1rem

.ring-about
  padding-top: 2rem
  color: #b7b7b7
  font-weight: 100
  font-size: 1.1rem
  line-height: 2rem

/*----------------------end of the slider----------------------*/



/*-----------------------why-choose-we-------------------------*/
.why-choose-we
  padding: 7.1rem

.title-why-choose-we
  font-weight: 900
  font-size: 3.4rem
  text-transform: uppercase

.why
  font-weight: 800
  font-size: 1.1rem
  color: #464646

.why-description
  color: #b7b7b7
  font-weight: 100
  font-size: 1rem

.why-description
  margin-bottom: 2rem

/*--------------------end of why-choose-we----------------------*/






/*-------media queries-------------*/
@media screen and (max-width: 1199.98px)
  html
    font-size: 10px
  .container
    width: 80%


